/* ****************************************************************
Contents:
  General page styles
  Header - Desktop/Default
  Main - Desktop/Default
  Footer - Desktop/Default
  Tablet styles
    Header - Tablet
    Footer - Tablet
  Mobile styles
    Header - Mobile
    Footer - Mobile
**************************************************************** */

/* ****************************************************************

**************************************************************** */
/* -------------------------------------------------------------

------------------------------------------------------------- */

/* ****************************************************************
General page styles
**************************************************************** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --hero-colour: #0891b2;
  --background-colour: #fefefe;
  --font-colour-black: #202020;
  --font-colour-grey: #424242;
  --font-colour-white: #fefefe;
  --box-shadow: 4px 4px 10px rgba(96, 96, 96, 0.5);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--font-colour-black);
}

h1 {
  color: var(--font-colour-white);
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p,
span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--font-colour-grey);
  font-size: 1.2rem;
}

:root,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding-left: calc(10vw - 20px); /* Adjust if necessary */
  padding-right: calc(10vw - 20px);
}

/* ****************************************************************
Header - Desktop/Default
**************************************************************** */
header {
  position: relative;
}

h1 {
  position: absolute;
  top: 380px;
  left: 12vw; /* Adjust as necessary for the person's name */
  z-index: 1;
}

.header-background,
.header-content,
.profile-picture {
  box-shadow: var(--box-shadow);
}

.header-background {
  width: 100%;
  height: 60vh; /* Adjust if necessary */
  position: absolute;
  top: -1.5rem;
  left: 0;
  z-index: -1;
  background-color: var(--hero-colour);
  transform: skewY(-10deg);
  transform-origin: top left;
}

.header-content {
  max-width: 100%;
  background-color: var(--background-colour);
  margin-top: 100px;
  margin-left: 40px;
  padding: 20px 50px;
}

.profile-picture {
  float: left;
  width: clamp(200px, 40vw, 380px);
  position: relative;
  top: -70px;
  left: -90px;
  margin-right: -50px;
  margin-bottom: -40px;
}

.header-text > p {
  line-height: 1.6;
}

.header-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.header-icons a {
  min-width: 2.5rem;
}

.header-icons img {
  min-width: 2.5rem;
}

/* ****************************************************************
Main - Desktop/Default
**************************************************************** */
main {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

main > h2 {
  margin-bottom: 1.5rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem 3rem;
}

.main-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.main-card-image > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.main-card-image > img:hover {
  filter: brightness(80%);
}

.main-card-content {
  padding: 1rem;
}

.main-card-content > header {
  padding: 0;
  display: flex;
  gap: 1rem;
}

.main-card-content > header > h3 {
  flex: 1;
}

.main-card-content > header img {
  width: 1.5rem;
}

.main-card-content > p {
  margin: 1rem 0;
  font-size: 0.9rem;
}

/* ****************************************************************
Footer - Desktop/Default
**************************************************************** */
footer {
  background-color: var(--hero-colour);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-contact {
  flex: 1;
}

.footer-contact > h2,
.footer-contact > p,
.footer-contact-info > span {
  color: var(--font-colour-white);
}

.footer-contact > p {
  margin-bottom: 2rem;
}

.footer-contact-info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
}

.footer-contact-info > img {
  width: 1.5rem;
}

.footer-contact-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.footer-contact-icons > img {
  width: 2.5rem;
}

/* ****************************************************************
Tablet styles
**************************************************************** */
@media (max-width: 990px) {
  /* -------------------------------------------------------------
  Header - Tablet
  ------------------------------------------------------------- */
  h1 {
    top: 35px;
    left: 40vw; /* Adjust as necessary for the person's name */
  }

  /* -------------------------------------------------------------
  Footer - Tablet
  ------------------------------------------------------------- */
  footer {
    align-items: center;
  }

  .footer-img > img {
    max-width: 100%;
  }
}

/* ****************************************************************
Mobile styles
**************************************************************** */
@media (max-width: 500px) {
  /* -------------------------------------------------------------
  Header - Mobile
  ------------------------------------------------------------- */
  h1 {
    top: unset;
    left: calc(10vw + 10px);
    bottom: 35rem;
  }

  .header-content {
    background-color: unset;
    margin-top: 1.5rem;
    margin-left: unset;
    padding: 0 1rem;
    box-shadow: none;
  }

  .profile-picture {
    float: unset;
    width: 100%;
    top: unset;
    left: unset;
    margin-right: unset;
    margin-bottom: 1.5rem;
  }

  .header-icons {
    justify-content: center;
  }

  /* -------------------------------------------------------------
  Footer - Mobile
  ------------------------------------------------------------- */
  footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    flex-direction: column;
    gap: 4rem;
  }

  .footer-contact {
    padding-left: calc(10vw - 20px); /* Adjust if necessary */
    padding-right: calc(10vw - 20px);
  }

  .footer-contact > h2 {
    text-align: center;
  }

  .footer-contact-icons {
    justify-content: center;
  }

  .footer-img {
    width: 100%;
  }

  .footer-img > img {
    width: 100%;
  }
}
